.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111;
  padding: 10px 20px;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
}

.menu a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.menu a:hover {
  color: #f00;
}
